amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.7
billiard==3.3.0.23
celery==3.1.26.post2
Django==3.0.7
django-celery==3.3.1
django-supervisor==0.4.0
flower==0.9.4
humanize==0.5.1
kombu==3.0.37
pathtools==0.1.2
pytz==2019.3
redis==2.10.6
sqlparse==0.3.1
supervisor==4.1.0
tornado==6.0.4
watchdog==0.10.2
